{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Enterobase - Change Password{% endblock %}

{% block maincontent %}
<div class="page-header">
    <h1>Change Your Password</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}