{% extends "jql_base.html" %}
{% block head%}
{{ super() }}
<link rel ='stylesheet'href="{{url_for('static',filename='css/table/validation_grid.css')}}">
<link rel ='stylesheet'href="{{url_for('static',filename='css/main/jjsonviewer.css')}}">
<link rel="stylesheet" href="/static/css/js_tree/style.min.css" >
{% endblock %}

{% block title %}Download scheme data for {{species}}{% endblock %}




{% block tablecontent %}
  
        <!--The actual table and paginator-->
    <div style='float:left;dsisplay:inline'>
                <button style="margin-left:4px" onclick="javascript:exporttable();">Export table</button>
    
                <button style="margin-left:4px" onclick="javascript:validationGrid.showFilterPopup();">Filter/Clear Filters</button>
           
                <button style="margin-left:4px" onclick="javascript:validationGrid.downloadFiles(validationGrid.getSelectedRows());">Download alleles for selected loci</button>                                
                <select id='STSelect'>
                {% for scheme in schemes %}
                    {% if scheme.name == 'Achtman 7 Gene' %}
                      <option value="{{ scheme.pipeline_scheme }}" selected="selected">{{ scheme.name }}</option>
                    {% else %}
                      <option value="{{ scheme.pipeline_scheme }}">{{ scheme.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <button style="margin-left:4px" onclick="javascript:validationGrid.downloadST($('#STSelect').find(':selected').val());">Download ST profiles for scheme</button>                                
                <button style="margin-left:4px" onclick="javascript:createViewFromSelected()">Create View From Selected</button>


        </div>

        <div style='float:right;dsisplay:inline'>
                <b>Rows Total:</b><span id="rowcount">0</span>
                <b>Filtered</b><span id="filtercount">0</span>	
                <img id ="loadingImage" align ='right' alt="waiting" src ="{{url_for('static',filename='img/upload/waiting.gif')}}">
        </div>
        
        <div id = "tablelayout" style='width:100%;height:90%;overflow:scroll'>
                <div id="tablecontent" class = 'ui-layout-center'></div>
        </div>
        <div id='table-footer'>
                <div style='float:left'>
                        <label for="pagesize">Page Size: </label>
                        <select id="pagesize" name="pagesize">
                                <option value="20">25</option>
                                <option selected value="50">50</option>
                                <option value="100">100</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                        </select>
                </div>
                <div id="paginator" style="'height:2%'"></div>
        </div>	
{% endblock %}

{% block scripts %}
{{super()}}
 <!--All the required scripts-->
<script src="{{url_for('static',filename='js/table/editablegrid-2.0.1.js')}}"></script>
<script src="{{url_for('static',filename='js/main/contextMenu.min.js')}}"></script>
<script src="{{url_for('static',filename='js/main/jjsonviewer.js')}}"></script>
<script src="{{url_for('static',filename='js/table/ddsmoothmenu.js')}}"></script>
<script src="{{url_for('static',filename='js/table/validation_grid.js')}}"></script>
<script src="{{url_for('static',filename='js/table/scheme_validation_grid.js')}}"></script>
<script src="/static/js/main/jstree.min.js"></script>
<script src="/static/js/dialogs/workspace.js?version={{config['JAVASCRIPT_VERSION']}}"></script>


<script>
        
        var speciesName = "{{species}}";
        var startup_data = "{{schemes}}"
        var user_jobs_only = false;
        var validationGrid = new SchemeGrid(
        "SpeciesGrid",
        {
                enableSort: true,  
                editmode: "static", 
                editorzoneid: "edition", 
                allowSimultaneousEdition: false,
                pageSize:50
        },
        speciesName                  
        );
        
        validationGrid.imgFolder="{{url_for('static',filename='img/upload/')}}"
        validationGrid.addMenuBar("tablemenu");
        workspace_dialog= new EnteroWorkspaceDialog(speciesName);
        
        var loadingImage; 
        
        
        //function called after set up has completed    
        function finishedSetup(msg){
        
        with (validationGrid){	
                setPaginator('paginator');
                //second argument is the name of the table class in the css
                addToPage("tablecontent","testgrid");
                setRowNumberListener(function (rowCount,filterCount){
                $("#rowcount").html(rowCount);
                        if (filterCount || filterCount ===0){
                                $("#filtercount").html(filterCount);
                        }
                });
                
                
        }
        
        loadingImage.hide();
        };
        
        function callFailed(msg){	
                Enterobase.modalAlert("Call to server failed:"+msg);
        }
        
        function submitQuery(predefined){
                var limit = $("#limit-spinner").val();
                if (!limit){
                        limit=200;
                }
                to_send = {		
                        limit:limit,
                        user_jobs_only:user_jobs_only
                
                }
                if (predefined){
                        to_send.query=predefined;
                }
                Enterobase.call_restful_json("/species/"+speciesName+"/get_scheme_details","POST",to_send,callFailed).done(function(data){
                        validationGrid.loadNewData(data,false,false);
                        validationGrid.refreshGrid();
                });
        
        }
        
        function exporttable(){
            var para = {label_headers:true};
            var data = validationGrid.getGridAsText(para);
            Enterobase.showSaveDialog(data.join("\n"));        
        
        }
        
        
        function createViewFromSelected(){
               var columns=[];
                var ids = validationGrid.getSelectedRows();
                for (var index in ids){
                        var id = ids[index];
                        var info =validationGrid.extraRowInfo[id];
                        var label = validationGrid.getValueAt(validationGrid.getRowIndex(id),validationGrid.getColumnIndex("label"));
                        var scheme_label =  validationGrid.getValueAt(validationGrid.getRowIndex(id),validationGrid.getColumnIndex("scheme_label"));
                        var column={
                                name:info['name'],
                                scheme:info['scheme_name'],
                                datatype:"integer",
                                label:label+"("+scheme_label+")",
                          
                        }
                        columns.push(column);
                        
                }
                workspace_dialog.showSaveDialog(function(name){
                        var to_send ={
                                database:speciesName,
                                data:JSON.stringify({experiment_columns:columns}),
                                id:0,
                                name:name
                        };     
                        Enterobase.call_restful_json("/save_custom_view","POST",to_send,this.showErrorMessage).done(function(data){
                                if (data['msg']==="OK"){                   
                                        Enterobase.modalAlert("The view "+name+" has been saved");
                                        self.workspace_dialog.addNewWorkspace([name,'mine','mine',data['id'],'custom_view']);                  
                              
                                }
                                else if (data['msg']==='Exists'){
                                        Enterobase.modalAlert("The view "+name+" already exists. Please choose another.");                      
                        
                                }
                        });               
                },"Custom View");    
                
                
                
        
        
        }
        
        
        
        
window.onload = function() {
        
        validationGrid.detailsCallback = function(data,jobID){
                $("#job-detail-title").html("Job Details:"+jobID);
                $("#details-content").jJsonViewer(data);
        }
        $("#limit-spinner").spinner({
                min:100,
                max:10000,
                step:100,
                incremental:true
                
        });
        

        loadingImage = $("#loadingImage");
        validationGrid.setMetaData();
        finishedSetup();
        
        var to_send = {
                query:"my_jobs",
                database:speciesName
        }
        if (startup_data === 'my_jobs'){
                user_jobs_only=true;
                validationGrid.hiddenColumns['user_id'] = true;
        }
        submitQuery("all");
        
        
          
};
</script>
        
{% endblock %}
