{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{super()}}
<!-- Include one of jTable styles. -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Enterobase - Edit Buddy Permissions{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit Buddy Details</h1>
</div>
Select a user in from the Users table and click the add button to add to your list of buddies.
Permissions for each buddy can be set by clicking the pencil icon the buddie's table. To remove
a buddy select an entry in the buddy table and press remove. The user table can be sorted on column and
fitered on last name (or part of last name)
<div class="filtering">
   
</div>
<br>
 <div class="row">
    <div class="col-sm-4">
        <div id="BuddyTableContainer"></div> 
    
    </div>
    <div class="col-sm-1">
            <BR>
            <BR>
            <button type="submit" id="AddBuddy">&ltAdd</button>
            <BR>
            <BR>
            <button type="submit" id="DeleteBuddy">Remove&gt</button>
    </div>
    
    
    <div class = "col-sm-7">
       
        <div id="UserTableContainer"></div>
         <BR>
         <div class="filtering">
            <form>
            
               <select id = "filter_type">
               
                    <option value="firstname">firstname</option>
                    <option value="lastname">lastname</option>
                    <option value="email">email</option>
                </select>
                contains
                <input type="text" name="name" id="name" />
       
                <button type="submit" id="LoadRecordsButton">Filter</button>
            </form>
           
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<link href={{url_for("static",filename="jtable/themes/metro/blue/jtable.css")}} rel="stylesheet" type="text/css" />
<!-- Include jTable script file. -->
<script src="//code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<script src={{url_for("static",filename='jtable/jquery.jtable.js')}} type="text/javascript"></script>

<script type="text/javascript">
    function get_icon(x){
        if (typeof x === 'string'){
            if (x==='true'){
                x= Boolean(1)
            }
            else{
                x=  Boolean(0)
            }                                   
        }         
        if (x){                           
            return '<span class="glyphicon glyphicon-ok"></span>';
        }                      
        return  '<span class="glyphicon glyphicon-remove"></span>';   
    }
    
 
    $(document).ready(function () {
    
    //function for adding a new buddy
        
        $('#AddBuddy').bind('click', function() {
        
            //get the id of the record
            var $selectedRows = $('#UserTableContainer').jtable('selectedRows');
            var record = $selectedRows.first().data('record');
            if (! record){
                alert("You must select a user");
                return false;
            }
            var id = record.id;
          
            $.post(        
            '/auth/add_buddies', 
            {userid:id}, 
            function(data) {
                  $('#BuddyTableContainer').jtable('load',
                    {userid: {{current_user.id}} }      
                    );
                  
                
            });
            return false;
        });
        
        $('#DeleteBuddy').bind('click', function() {
        
            //get the id of the record
            var $selectedRows = $('#BuddyTableContainer').jtable('selectedRows');
            var record = $selectedRows.first().data('record');
            if (! record){
                alert("You must select a Buddy");
                return false;
            }
            var id = record.buddy_id;
         
            $.post(        
            '/auth/delete_buddy', 
            {buddyid:id,
             userid: {{current_user.id}}
            }, 
            function(data) {
                  $('#BuddyTableContainer').jtable('load',
                    {userid: {{current_user.id}} }      
                    );
                
            });
            return false;
        });
  
  
 
        $('#UserTableContainer').jtable({
            selecting:true,
            paging: true, //Enable paging
            pageSize: 10, //Set page size (default: 10)
            sorting: true, //Enable sorting
            defaultSorting: 'lastname ASC', //Set default sorting
            actions: {
                listAction: '/auth/list_users'
               
            },
            fields: {
            
                id:{
                    key: true,
                    create: false,
                    edit: false,
                    list: false    
                },
                firstname: {
                    title:'First Name',
                    key: true,
                    width:'33%'
                    
                },
                lastname: {
                    title: 'Last Name',
                    width: '33%'
                },
                email: {
                    title: 'Email address',
                    width: '34%'
                }
                
            }
        });
         $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
           
            $('#UserTableContainer').jtable('load',
            { filter:JSON.stringify([$('#filter_type').val(),$('#name').val()]),
              columns:JSON.stringify(['id','firstname','lastname','email'])
               }
            );
        });
        //Load student list from server
        $('#UserTableContainer').jtable('load',{
            columns:JSON.stringify(['id','firstname','lastname','email'])
        });
        
        
        $('#BuddyTableContainer').jtable({
            selecting:true,
            paging: false, //Enable paging
            pageSize: 100, //Set page size (default: 10)
            sorting: false, //Enable sorting
            defaultSorting: 'id ASC', //Set default sorting
            actions: {
                listAction: '/auth/list_buddies',
                updateAction: '/auth/update_buddy'
               
            },
            fields: {
                buddy_id:{
                    list:false,
                    key:true,
                    edit:false
                },
                
                
                firstname: {
                    title:'First',
                    width:'20%',
                    edit:false
                    
                },
                lastname: {
                    title: 'Last',
                    width: '20%',
                    edit:false
                },
                view_data:{
                    title: "View",
                    type: "checkbox",
                    values: { 'false': 'Deny', 'true': 'Allow' },
                   
                     display: function (data) {
                           x= get_icon(data.record.view_data); 
                           return x;
                                      
                     },
                    width:'20%'
                },
                 edit_data:{
                    title: "Edit",
                    type: "checkbox",
                    values: { 'false': 'Deny', 'true': 'Allow' },
                     display: function (data) {                                                   
                        x= get_icon(data.record.edit_data); 
                        return x;
                        
                     },
                    width:'20%'
                },
                 delete_data:{
                    title: "Delete",
                    type: "checkbox",
                    values: { 'false': 'Deny', 'true': 'Allow' },
                     display: function (data) {                                                   
                         x= get_icon(data.record.delete_data); 
                        return x;                   
                     },
                    width:'20%'
                },
                
               
                
                
            }
        });
        
        //Load student list from server
        $('#BuddyTableContainer').jtable('load',
            {userid: {{current_user.id}} }      
        );
        
        
        
        
        
    });

</script>
{% endblock %}