{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Enterobase - Login{% endblock %}

{% block maincontent %}
<div class="page-header">
    <h1>Login</h1>
</div>

<br><br>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    <p>By using EnteroBase you agree to the <a target ="_blank" href="http://enterobase.readthedocs.io/en/latest/enterobase-terms-of-use.html">EnteroBase terms and conditions</a></p>
</div>
{% endblock %}
