{% extends "base.html" %}
{% block head%}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />

{% endblock %}

{% block title %}upload {{species}}{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script>

                        

function callbackFailed(msg){
  Enterobase.modalAlert(msg);

}


function getNodes(data){
            nodes=[];
            edges=[];
            for (var n=0;n<data.length;n++){
            nodes.push({"name":data[n].name});
                 for (var i=n+1;i<data.length;i++){
                     var strength = 0
                     for (key in data[n]){
                        
                        if (key==="name"){
                        continue;
                        }
                        if (data[n][key]===data[i][key]){
                                    strength++
                        }
                     }
                     if (strength !== 0){
                        edges.push({source:n,target:i,size:strength})
                     }
                 
                 }      
            }
            return({nodes:nodes,edges:edges})

}

function img_and_link() {
  $('#pie_div').append(
    $('<a>')
      .attr('href-lang', 'image/svg+xml')
      .attr('href', 'data:image/svg+xml;utf8,' +  unescape($('#main-canvas')[0].outerHTML))
      .html('Download')
  );
}

$(function () {
  var speciesName = "senterica"
var dataset1 = {
        nodes: [
                { name: "Adam" },
                { name: "Bob" },
                { name: "Carrie" },
                { name: "Donovan" },
                { name: "Edward" },
                { name: "Felicity" },
                { name: "George" },
                { name: "Hannah" },
                { name: "Iris" },
                { name: "Jerry" }
        ],
        edges: [
                { source: 0, target: 1 },
                { source: 0, target: 2 },
                { source: 0, target: 3 },
                { source: 0, target: 4 },
                { source: 0, target: 5 },
                { source: 0, target: 6 },
                { source: 1, target: 5 },
                { source: 2, target: 5 },
                { source: 2, target: 5 },
                { source: 3, target: 4 },
                { source: 5, target: 8 },
                { source: 5, target: 9 },
                { source: 6, target: 7 },
                { source: 7, target: 8 },
                { source: 8, target: 9 }
        ]
};

var mlstdata= [
{name:"st1","aroC":60,dnaN:50,rpoB:120},
{name:"st2","aroC":60,dnaN:37,rpoB:167},
{name:"st3","aroC":61,dnaN:456,rpoB:167},
{name:"st3","aroC":61,dnaN:456,rpoB:168},
{name:"st3","aroC":61,dnaN:456,rpoB:169},
{name:"st3","aroC":60,dnaN:50,rpoB:789},
];
dataset1= getNodes(mlstdata);

 var color = d3.scale.category10();
var svg1 = d3.select("#maindiv")
                        .append("svg")
                        .attr("width", 900)
                        .attr("height", 900)
                        .attr("id","force-canvas");
var force = d3.layout.force()
                     .nodes(dataset1.nodes)
                     .links(dataset1.edges)
                     .size([500, 500])
                     .linkDistance([50])        // <-- New!
                     .charge([-100])            // <-- New!
                     .start();
var edges = svg1.selectAll("line")
        .data(dataset1.edges)
        .enter()
        .append("line")
        .style("stroke", "#ccc")
        .style("stroke-width", function(data){
            2
        });                     
                     
var nodes = svg1.selectAll("circle")
        .data(dataset1.nodes)
        .enter()
        .append("circle")
        .attr("r", function(d,i){
            return 10;
        })
        .style("fill", function(d, i) {
                return color(i);
        })
        .call(force.drag);
force.on("tick", function() {

edges.attr("x1", function(d) { return d.source.x; })
     .attr("y1", function(d) { return d.source.y; })
     .attr("x2", function(d) { return d.target.x; })
     .attr("y2", function(d) { return d.target.y; })
     .style("stroke-width", function(d){
            return d.size*2
        })
     ;

nodes.attr("cx", function(d) { return d.x; })
     .attr("cy", function(d) { return d.y; });

});        


var width = 960,
    height = 500


        var w = 200;
            var h = 200;

            var dataset =[{values:[4,13,4,4,3,2],
                        labels:["a","s","s","s","a","t"],
                      
                        name:"George"
                        },
                        {values:[12,50,23,23,3,2],
                        labels:["a","so","s","s","a","t"],
                       
                       
                        name:"Mildred"
                        },
                        {values:[4,13,23,23,3,2],
                        labels:["a","s","s","s","a","t"],
                   
                        name:"Alfred"
                        }
            
            
            ];
            
            
           
            var outerRadius = w / 2;
            var innerRadius = 10;
            var arc = d3.svg.arc()
                            .innerRadius(innerRadius)
                            .outerRadius(outerRadius);
            
            var pie = d3.layout.pie();
            
            //Easy colors accessible via a 10-step ordinal scale
            

            //Create SVG element
            var svg = d3.select("#maindiv")
                        .append("svg")
                        .attr("width", 900)
                        .attr("height", 900)
                        .attr("id","main-canvas");
                        
            var xPos=0;
            var yPos=0;
            var prevRadius=0;
            for (var name in dataset){
                        var data = dataset[name];
                        var sum = data.values.reduce(function(a,b){
                                    return a+b;
                        });
                        var radius = Math.sqrt(sum)*10;
                        yPos=radius;
                        xPos=xPos+radius+prevRadius+20;
                        prevRadius=radius
                        var pieVal = pie(data.values);
                        for (var index in pieVal){
                            pieVal[index].label = data.labels[index]
                        }
                        var chart =  svg.append("g");
                       
                        var arcs = chart.selectAll("g.outer-arc")
                          .data(pieVal)
                          .enter()
                          .append("g")
                          .attr("class", "outer-arc")
                          .attr("transform","translate("+xPos+","+yPos+")");
                         var arc =  d3.svg.arc().innerRadius(radius-40).outerRadius(radius);
                          
                          arcs.append("path")
                        .attr("fill", function(d, i) {
                        return color(i);
                        })
                         .attr("d",arc);
                         
                         arcs.append("text")
                .attr("transform", function(d) {
                    return "translate(" + arc.centroid(d) + ")";
                })
                .attr("text-anchor", "middle")
                .text(function(d) {
                    return d.label;
                });
               
                chart.append("text").attr("transform","translate("+(xPos-20)+","+(yPos+radius+20)+")").text(data.name);
              
              }
              img_and_link();
                         
            //Draw arc paths
            
            
            //Labels
       /*     arcs.append("text")
                .attr("transform", function(d) {
                    return "translate(" + arc.centroid(d) + ")";
                })
                .attr("text-anchor", "middle")
                .text(function(d) {
                    return d.value;
                });
            */
     
  
});



</script>
{% endblock %}


{% block maincontent %}
  <div id="pie_div"></div>
{% endblock %}