{% extends "base.html" %}

{%block head %}
{{super()}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
{%endblock%}

{% block meta %}
{{super()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{%block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
<script>


$(function(){
    
    $('#container').jstree(); 
    $('#container').jstree('open_all'); 
 
    $('#container').bind('select_node.jstree', function(e,data) { 
    window.location.href = data.rslt.obj.attr("href"); 
    
     });
 
});




</script>

{% endblock %}

{% block title %}Enterobase{% endblock %}
{% block methodscontent %}
{{super()}}

{% set task =  config['METHODS_MAP'][request.url_rule.endpoint]%}
{% set info=  config['METHODS']['tasks'][1].get(request.url_rule.endpoint) %}
{% if not info %} 
    {% set info = config['METHODS']['admin'][1].get(request.url_rule.endpoint) %}
{% endif %}
{% if info[1] is not string %}
<div id="container"><ul>
    <li> {{task[0]}} <ul>
   {% for key,value  in config['METHODS']['tasks'][1][task[1]][1]|dictsort(false, 'value') %}
        {% if request.url_rule.endpoint == key %}        
        <li><span onClick="window.location.href='{{url_for(key,species=species)}}'"><b>{{value}}</b></span></li>
        {% else %}
        <li><span onClick="window.location.href='{{url_for(key,species=species)}}'">{{value}}</span></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% else %}
<div id="container"><ul>
{% for menu in config['METHODS']%}
{% if (menu == 'admin' and current_user.is_authenticated() and current_user.administrator == 1) or menu != 'admin'%}
<li> {{config['METHODS'][menu][0][2:]}}<ul>
        {% for key,value in config['METHODS'][menu][1]|dictsort(false, 'value') %}  
                <b>{{value[2:]}}</b>
               {% if value is string %}
                    <li><span onClick="window.location.href='{{url_for(key,species=species)}}'">
                    {% if request.url_rule.endpoint == key %}
                       <b>{{value[2:]}}</b>
                    {% else %}
                       {{value[2:]}}
                    {%endif %}
                    
                    </span></li>
                {% else %}
                    <li><span onClick="window.location.href='{{url_for(key,species=species)}}'">{{value[0][2:]}}</span></li>
                {% endif %}
        {% endfor %}
        </ul></li>
        {% endif %}

        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}

