{% extends "bsl_base.html" %}
{% block head %}
{{super()}}

<!-- WVN 14/8/17 - borrowed style sheets from species index template
  since I decided I want it to have a broadly similar style to those pages -->
    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->

      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

<style>
.makeBW {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.wvnVBigFont {
  font-size: 20pt;
}

.wvnBigFont {
  font-size: 16pt;
}
</style>

{% endblock %}
  
{% block maincontent %}
{{ super() }}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                    The {{ config['ACTIVE_DATABASES'].get(species)[0]}} database
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                            <div class="col-lg-12">
                <div class="panel panel-default">


                        <div class="panel-body">

                        <span class="wvnBigFont">
                        <p>Access the {{ config['ACTIVE_DATABASES'].get(species)[0]}} database:</p>
                        <p>
                        <ul>
                        <!-- Both "identifying alleles" and "identifying STs" will
                        go to the same allele/ ST search at
                        mlst_legacy_allele_st_search emulating the old site
                        when that is sorted out -->
                        {% if species == 'senterica' %}
                        <li><a href="http://pubmlst.org/bigsdb?db=pubmlst_senterica_achtman_seqdef&set_id=2&page=sequenceQuery">Click here for identifying alleles</a></li>
                        <li><a href="http://pubmlst.org/bigsdb?db=pubmlst_mlst_seqdef&set_id=2&page=profiles&scheme_id=2">Click here for identifying STs</a></li>
                        {% elif species == 'ecoli' %}
                        <li><a href="http://pubmlst.org/bigsdb?db=pubmlst_ecoli_achtman_seqdef&set_id=4&page=sequenceQuery">Click here for identifying alleles</a></li>
                        <li><a href="http://pubmlst.org/bigsdb?db=pubmlst_mlst_seqdef&set_id=4&page=profiles&scheme_id=4">Click here for identifying STs</a></li>
                        {% elif species == 'yersinia' %}
                        <li><a href="mlst_legacy_allele_st_search">Click here for identifying alleles</a></li>
                        <li><a href="mlst_legacy_allele_st_search">Click here for identifying STs</a></li>
                        {% elif species == 'mcatarrhalis' %}
                        <li><a href="mlst_legacy_allele_st_search">Click here for identifying alleles</a></li>
                        <li><a href="mlst_legacy_allele_st_search">Click here for identifying STs</a></li>
                        {% else %}
                        <li><a href="mlst_legacy_allele_st_search">Click here for identifying alleles</a></li>
                        <li><a href="mlst_legacy_allele_st_search">Click here for identifying STs</a></li>
                        {% endif %}
                        <li><a href="search_strains">Click here to search strains</a></li>
                        <li><a href="mlst_legacy_download">Click here to download data</a></li>
                        <li>
                        <a href="http://enterobase.readthedocs.io/en/latest/mlst/mlst-legacy-info-{{species}}.html">
                        Click here for information on 7-gene MLST from the "Info" page on the old Warwick MLST website
                        </a></li>
                        <li><a href="mlst_legacy_info">Click here for information about the closing of the old Warwick MLST website</a></li>
                        </ul>
                        </p>
                        </div>
                        </span>

                </div>

            </div>

{% endblock %}
    <!-- jQuery -->
{% block scripts %}
{{super()}}
  
{% endblock %}
