{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Enterobase - Login{% endblock %}

{% block maincontent %}


<style>
  label, label > span { display: block; }
  label { margin: 15px 0; }
</style>

<a href="/">Home</a>

<form action="" method="post">
  <label>
    <span>Client Name</span>
    <input type="text" name="client_name">
  </label>
  <label>
    <span>Client URI</span>
    <input type="url" name="client_uri">
  </label>
  <label>
    <span>Client Description</span>
     <textarea name="description" cols="30" rows="4"></textarea>
  </label>
  <label>
    <span>Redirect URIs</span>
    <textarea name="redirect_uri" ></textarea>
  </label>
  <!--
  <label>
    <span>Allowed Grant Types</span>
    <textarea name="grant_type" cols="30" rows="10"></textarea>
  </label>

  <label>
    <span>Allowed Response Types</span>
    <textarea name="response_type" cols="30" rows="10"></textarea>
  </label>
  <label>
    <span>Token Endpoint Auth Method</span>
    <select name="token_endpoint_auth_method">
      <option value="client_secret_basic">client_secret_basic</option>
      <option value="client_secret_post">client_secret_post</option>
      <option value="none">none</option>
    </select>
  </label>
  -->
  <button>Submit</button>
</form>


{% endblock %}