<html>
<head>
    <style>
       div{
         height:100px;
         width::100px;
         position:fixed;
         top:50%;
         left:50%;
         margin-left:-100px;
         margin-top:-100px;
      
         }
    </style>
    <title>{{page_title}}</title>
</head>
<body>
<div><img src = '/static/img/icons/large_wait.gif'></img>
<p align = 'center'>{{msg}}</p>
</div>
</body>
</html>
